<!doctype html>
<html lang="fr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src=“https://www.googletagmanager.com/gtag/js?id=UA-157617197-1”></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-157617197-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block description %}Locataire à propriétaire{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/img/static/logo.png') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/owlcarousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owlcarousel/owl.theme.default.min.css') }}">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles2.css') }}">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-img-box">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('assets/img/static/logo.png') }}" alt="logo locataire à propriétaire">
                </a>
            </div>
            
            <nav class="header-menu">
                <ul class="header-menu-ul">
                    {% if page is defined %}
                        {% if page == 'logement' %}
                            <li class="header-selected li-none"><a href="{{ path('search',
                                    {'slug':'bordeaux-metropole'}) }}">Trouvez
                                    un logement</a></li>
                        {% else %}
                            <li class="li-none"><a href="{{ path('search',{'slug':'bordeaux-metropole'})
                                }}">Trouvez un logement</a></li>
                        {% endif %}
                        {% if page == 'proprietaire' %}
                            <li class="header-selected li-none"><a href="{{ path('owner_home') }}">Devenir propriétaire</a></li>
                        {% else %}
                            <li class="li-none"><a href="{{ path('owner_home') }}">Devenir propriétaire</a></li>
                        {% endif %}
                        {% if page == 'nous' %}
                            <li class="header-selected li-none"><a href="{{ path('about') }}">Qui sommes nous</a></li>
                        {% else %}
                            <li class="li-none"><a href="{{ path('about') }}">Qui sommes nous</a></li>
                        {% endif %}
                        {% if page == 'blog' %}
                            <li class="header-selected li-none"><a href="https://blog.locataireaproprietaire.fr">Blog</a></li>
                        {% else %}
                            <li class="li-none"><a href="https://blog.locataireaproprietaire.fr">Blog</a></li>
                        {% endif %}
                    {% else %}
                        <li class="li-none"><a href="{{ path('search',{'slug':'bordeaux-metropole'})
                            }}">Trouvez un logement</a></li>
                        <li class="li-none"><a href="{{ path('owner_home') }}">Devenir propriétaire</a></li>
                        <li class="li-none"><a href="{{ path('about') }}">Qui sommes nous</a></li>
                        <li class="li-none"><a href="https://blog.locataireaproprietaire.fr">Blog</a></li>
                    {% endif %}



                </ul>
            </nav>
            
            <div class="header-contact">
                <a href="#" onclick="contactModal()">
                    <img src="{{ asset('assets/img/static/icone-contact.png') }}" alt="icone contact locataire à propriétaire">
                </a>
            </div>
            
        </div>
        
        <!-------------- LOGO WHITE -------------->

        <div class="header-logo-white-box">
            <a href="{{ path('home') }}">
                <img src="{{ asset('assets/img/static/logo-white.png') }}" alt="logo locataire à propriétaire">
            </a>
        </div>

        <!------------ FIN - LOGO WHITE ----------->

        
        
        <!--------------- MENU RESPONSIVE --------------->

        <div class="header-responsive-menu">
            <nav class="header-responsive-menu-container">
                <ul>
                    <li class="li-none">
                        <a href="{{ path('search',{'slug':'bordeaux-metropole'}) }}">
                            <div class="header-responsive-img-box">
                                <img src="{{ asset('assets/img/static/icone-home-search.png') }}" alt="icone">
                            </div>
                            <div class="header-responsive-label">
                                Rerchercher
                            </div>
                        </a>
                    </li>
                    <li class="li-none">
                        <a href="{{ path('owner_home') }}">
                            <div class="header-responsive-img-box">
                                <img src="{{ asset('assets/img/static/icone-home-key.png') }}" alt="icone">
                            </div>
                            <div class="header-responsive-label">
                                Acheter
                            </div>
                        </a>
                    </li>
                    <li class="li-none">
                        <a href="#">
                            <div class="header-responsive-img-box-phone">
                                <a href="#" onclick="contactModal()">
                                    <img src="{{ asset('assets/img/static/icone-contact.png') }}" alt="icone">
                                </a>
                            </div>
                        </a>
                    </li>
                    <li class="li-none">
                        <a href="{{ path('about') }}">
                            <div class="header-responsive-img-box">
                                <img src="{{ asset('assets/img/static/icone-about.png') }}" alt="icone">
                            </div>
                            <div class="header-responsive-label">
                                L'équipe
                            </div>
                        </a>
                    </li>
                    <li class="li-none">
                        <a href="https://blog.locataireaproprietaire.fr">
                            <div class="header-responsive-img-box">
                                <img src="{{ asset('assets/img/static/icone-blog.png') }}" alt="icone">
                            </div>
                            <div class="header-responsive-label">
                                Blog
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!------------ FIN - MENU RESPONSIVE ----------->
        
    </header>

    <main class="{% block main %}{% endblock %}">
        {% for message in app.flashes('info') %}
            <p class="alert-flash">{{ message }}</p>
        {% endfor %}
        {% block content %}
        {% endblock %}
        <div class="contact-modal-back">
            <div class="contact-modal">
                <div class="contact-modale-close" onclick="contactModalClose()">
                    X
                </div>
                <div class="contact-modal-container">
                    <div class="contact-modal-block">
                        <p class="title">Vous voulez parler à un conseiller ?</p>
                        <div class="contact-modal-number">
                            <div class="img-box">
                                <img src="{{ asset('assets/img/static/icone-contact.png') }}" alt="icone téléphone">
                            </div>
                            <div class="text-box">
                                <p class="number">07 77 84 91 94</p>
                                <p>Du lundi au samedi de 9h00 à 20h</p>
                            </div>
                        </div>
                        <div class="contact-modal-mail">
                            <div class="img-box">
                                <img src="{{ asset('assets/img/static/icone-mail.png') }}" alt="icone mail">
                            </div>
                            <div class="text-box">
                                <p>contact@locataireaproprietaire.fr</p>
                            </div>
                        </div>
                        <div class="contact-modal-social">
                            <p class="title">Suivez-nous</p>
                            <div class="contact-modal-social-box">
                                <div class="img-box">
                                    <a target="_blank" href="https://www.facebook.com/zammitconseilsetpatrimoine">
                                        <img src="{{ asset('assets/img/static/facebook.png') }}" alt="facebook">
                                    </a>
                                </div>
                                <div class="img-box">
                                    <a target="_blank" href="https://fr.linkedin.com/feed">
                                        <img src="{{ asset('assets/img/static/linkedin.png') }}" alt="linkedin">
                                    </a>
                                </div>
                                <div class="img-box">
                                    <a target="_blank" href="https://www.youtube.com/channel/UCz14iF_6CsWZIS9si_13TTQ?view_as=subscriber">
                                        <img src="{{ asset('assets/img/static/youtube.png') }}" alt="youtube">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="contact-modal-block">
                        <p class="title">Contacter un conseiller</p>

                        <form action="{{ path('contact') }}" method="POST">
                            <div class="form-row-radio">
                                <div class="form-field-radio">
                                    <label for="modal-mister">Monsieur</label>
                                    <input type="radio" name="modal-gender" id="modal-mister" value="monsieur">
                                </div>
                                <div class="form-field-radio">
                                    <label for="modal-miss">Madame</label>
                                    <input type="radio" name="modal-gender" id="modal-miss" value="madame">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="modal-name">Nom*</label>
                                    <input type="text" name="modal-name" id="modal-name" required>
                                </div>
                                <div class="form-field">
                                    <label for="modal-email">Adresse e-mail*</label>
                                    <input type="email" name="modal-email" id="modal-email" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="modal-phone">Téléphone*</label>
                                    <input type="text" name="modal-phone" id="modal-phone" required>
                                </div>
                                <div class="form-field">
                                    <label for="modal-object">Objet*</label>
                                    <input type="text" name="modal-object" id="modal-object" required>
                                </div>
                            </div>
                            <div class="form-field-message">
                                <label for="modal-message">Message*</label>
                                <textarea name="modal-message" id="modal-message" cols="50" rows="10" required></textarea>
                            </div>
                            <div class="form-submit">
                                <button type="submit" name="modal-form">Envoyer</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>


        <!------------ COOKIE BANNER ----------->

        {% if cookieBanner is defined and cookieBanner %}
            <div class="cookie-banner">
                <div class="cookie-banner-row">
                    <div class="cookie-banner-text">
                        <p>Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site web. Si vous continuez à utiliser ce site, nous supposerons que vous les acceptez</p>
                    </div>
                    <div class="cookie-banner-btn">
                        <button onclick="cookieBtn(this)"
                            data-url="{{ path('cookie_ajax') }}"
                        >J'accepte</button>
                    </div>
                </div>
            </div>
        {% endif %}

    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-first-row">
                <div class="footer-number">
                    <p>07 77 84 91 94</p>
                </div>

                <div class="footer-social">
                    <p>Nous suivre</p>
                    <div class="footer-social-link-block">
                        <div class="footer-social-link-box">
                            <a href="https://www.facebook.com/zammitconseilsetpatrimoine/">
                                <img src="{{ asset('assets/img/static/facebook.png') }}" alt="réseau facebook locataire à propriétaire">
                            </a>
                        </div>
                        <div class="footer-social-link-box">
                            <a href="https://www.linkedin.com/feed/">
                                <img src="{{ asset('assets/img/static/linkedin.png') }}" alt="réseau linkedin locataire à propriétaire">
                            </a>
                        </div>
                        <div class="footer-social-link-box">
                            <a href="https://www.youtube.com/channel/UCz14iF_6CsWZIS9si_13TTQ?view_as=subscriber">
                                <img src="{{ asset('assets/img/static/youtube.png') }}" alt="réseau youtube locataire à   propriétaire">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer-recruitment">
                    <p>Nous recrutons</p>
                    <a href="{{ path('team') }}">
                        <div class="footer-recruitment-btn">
                            Rejoignez notre équipe
                        </div>
                    </a>
                </div>
            </div>

            <div class="footer-divider"></div>

            <div class="footer-second-row">
                <p>Tous droits réservés Zammit Conseils et Patrimoine 2020</p>
                <p>Site réalisé par <a href="https://meliway.fr">Meliway</a></p>
                <nav>
                    <ul>
                        <li class="li-none"><a href="{{ path('sitemap') }}">Plan du site</a></li>
                        <li class="li-none"><a href="{{ path('confidentiality') }}">Politique de confidentialité</a></li>
                        {#<li><a href="#">Politique cookie</a></li>#}
                        <li class="li-none"><a href="{{ path('legal') }}">Mentions légales</a></li>
                        <li class="li-none"><a href="{{ path('lexique') }}">Lexique</a></li>
                        <li class="li-none"><a href="{{ path('faq') }}">FAQ</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </footer>

    <script
            src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/owlcarousel/owl.carousel.min.js') }}"></script>
    {% block script %}{% endblock %}
    <script src="{{ asset('assets/js/script.js') }}"></script>
</body>
</html>