<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block description %}Locataire à propriétaire{% endblock %}">
    <title>{% block title %}{% endblock %} - Locataire à propriétaire</title>
    <link rel="stylesheet" href="{{ asset('assets/css/owlcarousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owlcarousel/owl.theme.default.min.css') }}">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-img-box">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('assets/img/static/logo.png') }}" alt="logo locataire à propriétaire">
                </a>
            </div>
            
            <nav class="header-menu">
                <ul class="header-menu-ul">
                    <li><a href="{{ path('search',{'slug':'bordeaux-metropole'}) }}">Trouvez un logement</a></li>
                    <li><a href="{{ path('owner_home') }}">Devenir propriétaire</a></li>
                    <li><a href="#">Qui sommes nous</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
            
            <div class="header-contact">
                <a href="#" onclick="contactModal()">
                    <img src="{{ asset('assets/img/static/icone-contact.png') }}" alt="icone contact locataire à propriétaire">
                </a>
            </div>
            
        </div>
        
        <!-------------- LOGO WHITE -------------->

        <div class="header-logo-white-box">
            <a href="{{ path('home') }}">
                <img src="{{ asset('assets/img/static/logo-white.png') }}" alt="logo locataire à propriétaire">
            </a>
        </div>

        <!------------ FIN - LOGO WHITE ----------->

        
        
        <!--------------- MENU RESPONSIVE --------------->

        <div class="header-responsive-menu">
            <nav class="header-responsive-menu-container">
                <ul>
                    <li>
                        <a href="{{ path('search',{'slug':'bordeaux-metropole'}) }}">
                            <div class="header-responsive-img-box">
                                <img src="{{ asset('assets/img/static/icone-home-search.png') }}" alt="icone">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('owner_home') }}">
                            <div class="header-responsive-img-box">
                                <img src="{{ asset('assets/img/static/icone-home-key.png') }}" alt="icone">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="header-responsive-img-box-phone">
                                <a href="#" onclick="contactModal()">
                                    <img src="{{ asset('assets/img/static/icone-contact.png') }}" alt="icone">
                                </a>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="header-responsive-img-box">
                                <img src="{{ asset('assets/img/static/icone-about.png') }}" alt="icone">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="header-responsive-img-box">
                                <img src="{{ asset('assets/img/static/icone-blog.png') }}" alt="icone">
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!------------ FIN - MENU RESPONSIVE ----------->
        
    </header>

    <main class="{% block main %}{% endblock %}">
        {% block content %}
        {% endblock %}
        <div class="contact-modal">
            <div class="contact-modal-container">
                <div class="contact-modal-block">
                    <h2>Vous voulez parler à un conseiller ?</h2>
                    <div class="contact-modal-number">
                        <div class="img-box">
                            <img src="{{ asset('assets/img/static/icone-contact.png') }}" alt="icone téléphone">
                        </div>
                        <div class="text-box">
                            <p class="number">07 77 84 91 94</p>
                            <p>Du lundi au samedi de 9h00 à 20h</p>
                        </div>
                    </div>
                    <div class="contact-modal-mail">
                        <div class="img-box">
                            <img src="{{ asset('assets/img/static/icone-mail.png') }}" alt="icone mail">
                        </div>
                        <div class="text-box">
                            <p>contact@locataireaproprietaire.fr</p>
                            <p>239 rue de Turenne 33000 Bordeaux</p>
                        </div>
                    </div>
                    <div class="contact-modal-social">
                        <h2>Suivez-nous</h2>
                        <div class="contact-modal-social-box">
                            <div class="img-box">
                                <a target="_blank" href="https://www.facebook.com/zammitconseilsetpatrimoine/?hc_ref=ARTVRjtyFnA2NLrww8BQElgroxBdEzgR_F2CbwEghOtbovEAHhlWHfeJK7ngezUvKqs&fref=nf">
                                    <img src="{{ asset('assets/img/static/facebook.png') }}" alt="facebook">
                                </a>
                            </div>
                            <div class="img-box">
                                <a target="_blank" href="https://fr.linkedin.com/company/zammit-conseils-patrimoine">
                                    <img src="{{ asset('assets/img/static/linkedin.png') }}" alt="linkedin">
                                </a>
                            </div>
                            <div class="img-box">
                                <a target="_blank" href="https://www.youtube.com/channel/UCz14iF_6CsWZIS9si_13TTQ">
                                    <img src="{{ asset('assets/img/static/youtube.png') }}" alt="youtube">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="contact-modal-block">
                    <h2>Contacter un conseiller</h2>
                    <form action="#" method="POST">
                        <div class="form-row">
                            <div class="form-field">
                                <label for="modal-name">Nom</label>
                                <input type="text" name="modal-name" id="modal-name">
                            </div>
                            <div class="form-field">
                                <label for="modal-email">Adresse e-mail</label>
                                <input type="email" name="modal-email" id="modal-email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <label for="modal-phone">Téléphone</label>
                                <input type="text" name="modal-phone" id="modal-phone">
                            </div>
                            <div class="form-field">
                                <label for="modal-object">Objet</label>
                                <input type="text" name="modal-object" id="modal-object">
                            </div>
                        </div>
                        <div class="form-field-message">
                            <label for="modal-message">Message</label>
                            <textarea name="modal-message" id="modal-message" cols="50" rows="10"></textarea>
                        </div>
                        <div class="form-submit">
                            <button type="submit" name="modal-form">Envoyer</button>
                        </div>
                    </form>
                    <div class="close" onclick="contactModalClose()">
                        X
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-first-row">
                <div class="footer-number">
                    <p>07 77 84 91 94</p>
                </div>

                <div class="footer-social">
                    <p>Nous suivre</p>
                    <div class="footer-social-link-block">
                        <div class="footer-social-link-box">
                            <img src="{{ asset('assets/img/static/facebook.png') }}" alt="réseau facebook locataire à propriétaire">
                        </div>
                        <div class="footer-social-link-box">
                            <img src="{{ asset('assets/img/static/linkedin.png') }}" alt="réseau linkedin locataire à propriétaire">
                        </div>
                        <div class="footer-social-link-box">
                            <img src="{{ asset('assets/img/static/youtube.png') }}" alt="réseau youtube locataire à   propriétaire">
                        </div>
                    </div>
                </div>

                <div class="footer-recruitment">
                    <p>Nous recrutons</p>
                    <a href="#">
                        <div class="footer-recruitment-btn">
                            Rejoignez notre équipe
                        </div>
                    </a>
                </div>
            </div>

            <div class="footer-divider"></div>

            <div class="footer-second-row">
                <p>Tous droits réservés Zammit Conseils et Patrimoine 2020</p>
                <nav>
                    <ul>
                        <li><a href="#">Plan du site</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Politique cookie</a></li>
                        <li><a href="#">Mentions légales</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </footer>

    <script
            src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/owlcarousel/owl.carousel.min.js') }}"></script>
    {% block script %}{% endblock %}
    <script src="{{ asset('assets/js/script.js') }}"></script>
</body>
</html>