{% extends 'web/_base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block description %}{{ article.introduction }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock %}

{% block content %}

    {# ##################################################################
      #########################  MODAL ###############################
      ################################################################### #}

    <div class="search-modal-container">
        <div class="search-modal">
            <p class="search-modal-title">Vous êtes intéressé ?</p>
            <p class="search-modal-text">Appelez <span class="search-modal-number">07 77 84 91 94</span></p>

            <div class="search-modal-or">
                <div class="greyLine"></div>
                <p>Ou</p>
                <div class="greyLine"></div>
            </div>

            <a href="{{ asset('assets/img/brochure/') }}{{ brochure.file }}" download>
                <div class="search-modal-upload">
                    <div class="img-box">
                        <img src="{{ asset('assets/img/static/book.png') }}" alt="icone livre">
                    </div>
                    <p>Recevoir la brochure</p>
                </div>
            </a>

            <div class="search-modal-dividerGrey"></div>

            <div class="search-modal-form">
                <form action="#" method="POST">
                    <div class="search-modal-radio-row">
                        <div class="search-modal-form-radio">
                            <label for="mister">Monsieur</label>
                            <input type="radio" id="mister" name="gender" value="monsieur">
                        </div>
                        <div class="search-modal-form-radio">
                            <label for="miss">Madame</label>
                            <input type="radio" id="miss" name="gender" value="madame">
                        </div>
                    </div>
                    <label for="name">Nom</label>
                    <input type="text" id="name" name="name">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                    <label for="phone">Téléphone</label>
                    <input type="text" id="phone" name="phone">
                    <div class="btn">
                        <input type="submit" name="search-modal" value="Envoyer" id="search-modal-submit">
                    </div>
                </form>
            </div>


        </div>
    </div>

        {# ##################################################################
           #############################  TITLE + MOVIE  #######################
           ################################################################### #}

        <div class="article-title">
            <h1>{{ article.title }}</h1>
            {% if article.movie %}
                <div class="article-title-movie-box">
                    {{ article.movie|raw }}
                </div>
            {% endif %}
        </div>




        {# ##################################################################
           #############################  ARTICLE  ##########################
           ################################################################### #}

        <div class="article-article-container">
            {{ article.text|raw }}
        </div>


        {# ##################################################################
           #############################  SHARE  ##########################
           ################################################################### #}

        <div class="article-share">
            <p>Si vous avez aimé l'article, partagez-le !</p>
            <div class="article-share-btn">
                <div class="img-box">
                    <a href="#">
                        <img src="{{ asset('assets/img/static/facebook.png') }}" alt="partager sur facebook">
                    </a>
                </div>
                <div class="img-box">
                    <a href="#">
                        <img src="{{ asset('assets/img/static/linkedin.png') }}" alt="partager sur linkedin">
                    </a>
                </div>
            </div>
        </div>




        {# ##################################################################
           #############################  TOP VIDEOS  #######################
           ################################################################### #}


        {#<section class="blog-top-add article-blog-top-add">
            <h2>Nos top 3 vidéos</h2>
            <div class="blog-top-add-row owl-carousel owl-theme">
                {% for article in topVideos %}
                    <div class="blog-top-add-block item">
                        <a href="{{ path('blog_article',{
                            'cat' : article.blogCategory.name|url,
                            'idCat' : article.blogCategory.id,
                            'art' : article.title|url,
                            'id' : article.id
                        }) }}">
                            <img src="{{ asset('assets/img/blog/') }}{{ article.picture }}" alt="{{ article.pictureAlt }}">
                        </a>
                    </div>

                {% endfor %}
            </div>
        </section>#}










{% endblock %}

{% block script %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script>
        $(document).ready(function(){
            if(window.innerWidth < 1300){
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    navText:[
                        "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/chevron-left.png')
                        }}'></div>",
                        "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/chevron-right.png')
                        }}'></div>"
                    ],
                    items: 1
                })
            }


            $(window).resize(function(){
                if(window.innerWidth < 1300){
                    $('.owl-carousel').owlCarousel({
                        loop: true,
                        margin: 10,
                        nav: true,
                        navText:[
                            "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/chevron-left.png')
                            }}'></div>",
                            "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/chevron-right.png')
                            }}'></div>"
                        ],
                        items: 1,

                    })
                }
            })


        })

    </script>

{% endblock %}
