{% extends 'web/_base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock %}

{% block content %}

    <div class="article-container">

        {# ##################################################################
           #############################  TITLE + MOVIE  #######################
           ################################################################### #}

        <div class="article-title">
            <h1>{{ article.title }}</h1>
            {% if article.movie %}
                <div class="article-title-movie-box">
                    {{ article.movie|raw }}
                </div>
            {% endif %}
        </div>




        {# ##################################################################
           #############################  ARTICLE  ##########################
           ################################################################### #}

        <div class="article-article-container">
            {{ article.text|raw }}
        </div>


        {# ##################################################################
           #############################  SHARE  ##########################
           ################################################################### #}

        <div class="article-share">
            <p>Si vous avez aimé l'article, partagez-le !</p>
            <div class="article-share-btn">
                <div class="img-box">
                    <a href="#">
                        <img src="{{ asset('assets/img/static/facebook.png') }}" alt="partager sur facebook">
                    </a>
                </div>
                <div class="img-box">
                    <a href="#">
                        <img src="{{ asset('assets/img/static/linkedin.png') }}" alt="partager sur linkedin">
                    </a>
                </div>
            </div>
        </div>




        {# ##################################################################
           #############################  TOP VIDEOS  #######################
           ################################################################### #}


        <section class="blog-top-add">
            <h2>Nos top 3 vidéos</h2>
            <div class="blog-top-add-row owl-carousel owl-theme">
                {% for article in topVideos %}
                    <div class="blog-top-add-block item">
                        <a href="{{ path('blog_article',{
                            'cat' : article.blogCategory.name|url,
                            'idCat' : article.blogCategory.id,
                            'art' : article.title|url,
                            'id' : article.id
                        }) }}">
                            <img src="{{ asset('assets/img/blog/') }}{{ article.picture }}" alt="{{ article.pictureAlt }}">
                        </a>
                    </div>

                {% endfor %}
            </div>
        </section>



        {# ##################################################################
           #####################  TOP ADDITIONAL ARTICLES ###################
           ################################################################### #}

        <section class="blog-top-add blog-add">
            <h2>Articles complémentaires</h2>
            <div class="blog-top-add-row owl-carousel owl-theme">
                {% for article in addArticles %}
                    <div class="blog-top-add-block item">
                        <a href="{{ path('blog_article',{
                            'cat' : article.blogCategory.name|url,
                            'idCat' : article.blogCategory.id,
                            'art' : article.title|url,
                            'id' : article.id
                        }) }}">
                            <img src="{{ asset('assets/img/blog/') }}{{ article.picture }}" alt="{{ article.pictureAlt }}">
                        </a>
                    </div>

                {% endfor %}
            </div>
        </section>






    </div>


{% endblock %}

{% block script %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script>
        $(document).ready(function(){
            if(window.innerWidth < 1300){
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    navText:[
                        "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/chevron-left.png')
                        }}'></div>",
                        "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/chevron-right.png')
                        }}'></div>"
                    ],
                    items: 1
                })
            }


            $(window).resize(function(){
                if(window.innerWidth < 1300){
                    $('.owl-carousel').owlCarousel({
                        loop: true,
                        margin: 10,
                        nav: true,
                        navText:[
                            "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/chevron-left.png')
                            }}'></div>",
                            "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/chevron-right.png')
                            }}'></div>"
                        ],
                        items: 1,

                    })
                }
            })


        })
    </script>

{% endblock %}