{% extends 'web/_base.html.twig' %}

{% block title %}{{ title|striptags|raw }}{% endblock %}

{% block description %}{{ description|striptags|raw }}{% endblock %}

{% block main %}
    homepage-main
{% endblock %}

{% block content %}
    {# ##################################################################
      #########################  MODAL FORM BROCHURE #####################
      ################################################################### #}

    <div class="program-plan">
        <div class="program-plan-container">
            <div class="load-program-picture-close" onclick="closePlan()">
                X
            </div>
            <p>Pour recevoir ce guide,
                merci de remplir ce formulaire de contact</p>
            <div class="program-plan-form">
                <form action="#" method="POST" class="form-guide">
                    <div class="program-plan-form-row">
                        <label for="plan-miss">Madame</label>
                        <input type="radio" name="gender" id="plan-miss" value="madame">
                        <label for="plan-mister">Monsieur</label>
                        <input type="radio" name="gender" id="plan-mister" value="monsieur">
                    </div>
                    <label for="name">Nom</label>
                    <input type="text" id="name" name="name">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="phone">Téléphone</label>
                    <input type="text" name="phone" id="phone">
                    <div class="program-plan-form-row">
                        <input type="checkbox" id="plan-check" required>
                        <label for="plan-check">
                            Recevoir des offres de Locataire A Proprietaire par mail
                        </label>
                    </div>
                    <div class="program-plan-submit">
                        <button type="submit" name="submit-brochure">Envoyer</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    {# ##################################################################
      #########################  ASIDE ###############################
      ################################################################### #}

    <aside class="aside">
        <div class="vertical-line"></div>
        <div class="square" id="square1"></div>
        <div class="square" id="square2"></div>
        <div class="square" id="square3"></div>
        <div class="square" id="square4"></div>
        <div class="square" id="square5"></div>
        <div class="vertical-line"></div>
    </aside>








    {# ##################################################################
      #########################  SECTION ###############################
      ################################################################### #}

    <section class="homepage-top">
        <div class="homepage-top-first-block">
            <div class="homepage-ptz">
                <a href="{{ path('simulator') }}">
                    <div class="homepage-ptz-btn">
                        Simulateur <br/> PTZ
                    </div>
                </a>
            </div>
            {% if message is not empty %}
                <div class="homepage-banner">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

        </div>

        <div class="homepage-pastille-box">
            <!------- RESPONSIVE ------->
            <div class="homepage-ptz-responsive">
                <a href="{{ path('simulator') }}">
                    <div class="homepage-ptz-btn">
                        Simulateur <br/> PTZ
                    </div>
                </a>
            </div>
            <!----- FIN - RESPONSIVE ----->
            <div class="homepage-pastille"><p>TVA <br/> 5,5%</p></div>
            <div class="homepage-pastille"><p>BBC</p></div>
            <div class="homepage-pastille"><p class="big">Les bons <br/> plans</p></div>
            <div class="homepage-pastille"><p class="big">Livraison <br/> immédiate</p></div>
        </div>

        <div class="homepage-search-text">
            <h1>Trouver le logement qui me correspond</h1>
        </div>

        <div class="homepage-search-barre">
            <form action="{{ path('search',{'slug':'bordeaux-metropole'}) }}" data-url="{{ url }}" method="POST">

                <div class="homepage-search-first-row">
                    <div class="homepage-search-block">
                        <input type="text" name="city" placeholder="Lieu" id="city" data-path="{{ path('ajax') }}">
                        <div id="resultAutocompletion"></div>
                        {#<div id="result">
                            #}{#<ul>
                                {% for city in cities %}
                                    <li onclick="choice('{{ city }}','#city','#result')">{{ city }}</li>
                                {% endfor %}
                            </ul>#}{#
                        </div>#}
                    </div>

                    <div class="homepage-search-block">
                        <input type="text" name="typologie" placeholder="Type de bien" id="typologie" readonly>
                        <div id="resultTypo">
                            <ul>
                                {% for typo in typologies %}
                                    <li onclick="choice('{{ typo }}','#typologie','#resultTypo')">{{ typo }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="img-box" onclick="slideDown('#resultTypo')">
                            <img src="{{ asset('assets/img/static/arrow-down.png') }}" alt="icone">
                        </div>
                    </div>

                    {#<div class="homepage-search-block homepage-search-price">
                        <input type="text" name="priceMin" placeholder="Budget min">
                    </div>#}

                    <div class="homepage-search-block homepage-search-price">
                        <input type="text" name="priceMax" placeholder="Budget max">
                    </div>

                    <div class="homepage-search-block homepage-search-price-responsive ">
                        {#<input type="text" name="priceMin" placeholder="Budget min">#}
                        <input type="text" name="priceMax" placeholder="Budget max">

                    </div>
                    <div class="homepage-search-block homepage-search-price-responsive">
                        <input type="text" readonly="readonly" value="Recherche avancée">
                        <div onclick="slideDown('.homepage-search-others-container')" class="img-box-responsive">
                            <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                        </div>
                    </div>
                    <div class="homepage-search-block homepage-search-price-responsive">
                        <button type="submit" class="homepage-search-btn" name="search-submit">Rechercher</button>
                    </div>

                    <div class="homepage-search-block homepage-search-block-last"
                         onclick="slideDown('.homepage-search-others-container')">
                        <input type="text" value="Recherche avancée" readonly>
                        <div class="img-box">
                            <img src="{{ asset('assets/img/static/arrow-down.png') }}" alt="icone">
                        </div>
                    </div>

                    <div class="homepage-search-block homepage-search-block-submit" id="homepage-search-submit">
                        <button type="submit" class="homepage-search-btn" name="search-submit">Rechercher</button>
                    </div>

                </div>


                <div class="homepage-search-others-container">
                    <div class="homepage-search-others">
                        <div class="homepage-search-others-block">
                            <div class="homepage-search-others-box">
                                <label for="surface">Surface</label>
                                <input type="number" name="surfaceMin" id="surface" placeholder="min m2">
                                <input type="number" name="surfaceMax" placeholder="max m2">
                            </div>

                            {#<div class="homepage-search-others-box homepage-search-others-flex">
                                <label>Accessible handicapé</label>
                                <label class="switch homepage-search-others-switch">
                                    <input type="checkbox" name="handicap">
                                    <span class="slider round"></span>
                                </label>
                            </div>#}

                        </div>


                        <div class="homepage-search-others-block">
                            <div class="homepage-search-others-box">
                                <label for="delivery">Délais de livraison</label>
                                <p class="immediatly" onclick="formSelect(this,'disponibility-immediatly')">Disponible immédiatement</p>
                                <div class="years">
                                    {% set now = "now"|date("Y") %}
                                    <p class="form-btn-selection" onclick="formSelect(this,'disponibility-0')">{{now}}</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'disponibility-1')">{{now+1}}</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'disponibility-2')">+{{now+2}}</p>
                                </div>
                            </div>
                            <div class="homepage-search-others-box">
                                <label for="rooms">Nombre de pièces</label>
                                <div class="rooms">
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-1')">1</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-2')">2</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-3')">3</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-4')">4</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-5')">5</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-6')">+6</p>
                                </div>

                            </div>
                        </div>

                        <div class="homepage-search-others-block">
                            <div class="homepage-search-others-box">
                                <label for="prestation">Prestations</label>
                                <div class="prestations">
                                    {% for prestation in prestations %}
                                        <p class="form-btn-selection"
                                           onclick="formSelect(this,'prestations-{{ prestation.criteriaOption }}')">{{ prestation.criteriaOption }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            {#<div class="homepage-search-others-close">
                                <div class="homepage-search-block homepage-search-block-submit">
                                    <input type="submit" value="Rechercher" class="homepage-search-btn" name="search-submit">
                                </div>
                                <p>X</p>
                            </div>#}
                        </div>



                        <div class="homepage-search-hidden">

                        </div>
                    </div>
                </div>

                <div class="homepage-search-block homepage-search-block-submit" id="homepage-search-submit-responsive">
                    <button type="submit" class="homepage-search-btn" name="search-submit">Rechercher</button>
                </div>
            </form>
        </div>
    </section>

{# ##################################################################
  #########################  BENEFITS ###############################
  ################################################################### #}

    <section class="homepage-benefits">
        <div class="homepage-benefits-container">
            <div class="homepage-benefits-block">
                <div class="homepage-benefits-img-box">
                    <img src="{{ asset('assets/img/static/icone-a-z.png') }}" alt="icone accompagnement de A à 2">
                </div>
                <h3>Un accompagnement de A à Z</h3>
            </div>
            <div class="homepage-benefits-block">
                <div class="homepage-benefits-img-box">
                    <img src="{{ asset('assets/img/static/icone-home-key.png') }}" alt="icone propriétaire en moins
                    de trois semaines">
                </div>
                <h3>Propriétaire en moins de trois semaines</h3>
            </div>
            <div class="homepage-benefits-block">
                <div class="homepage-benefits-img-box">
                    <img src="{{ asset('assets/img/static/icone-0.png') }}" alt="icone sans frais supplémentaire
                    d'agent immobilier">
                </div>
                <h3>Sans aucun frais supplémentaire d'agent immobilier</h3>
            </div>
        </div>
    </section>

{# ##################################################################
  #########################  ACCOMPANIMENT ##########################
  ################################################################### #}

    <section class="homepage-accompaniment-container">
        <h2>Un accompagnement de <span>A</span> à <span>Z</span></h2>


        <div class="homepage-accompaniment-video-box">

            <div class="container">
                <div class="allvideo">
                    <video src="{{ asset('movie/video.mp4') }}" class="video"></video>
                    <div class="controls">
                        <div class="buttons">
                            <button id="play-pause" class="play"></button>
                            <button id="mute">Couper le son</button>
                            <input type="range" id="volumeSlider" min="0" max="100" value="50" step="1">
                        </div>
                    </div>
                </div>
                <div class="blue-bar">
                    <div class="blue-bar-circle-box circle-1">
                        <div class="blue-bar-circle "></div>
                        <div class="blue-bar-text">
                            <p>Définition de votre projet immobilier</p>
                        </div>
                    </div>
                    <div class="blue-bar-circle-box circle-2">
                        <div class="blue-bar-circle "></div>
                        <div class="blue-bar-text">
                            <p>Présentation des biens en fonction de vos critères</p>
                        </div>
                    </div>
                    <div class="blue-bar-circle-box circle-3">
                        <div class="blue-bar-circle "></div>
                        <div class="blue-bar-text">
                            <p>Signature du contrat de réservation</p>
                        </div>
                    </div>
                    <div class="blue-bar-circle-box circle-4">
                        <div class="blue-bar-circle "></div>
                        <div class="blue-bar-text">
                            <p>Signature de l'acte authentique chez le notaire</p>
                        </div>
                    </div>
                    <div class="blue-bar-circle-box circle-5">
                        <div class="blue-bar-circle "></div>
                        <div class="blue-bar-text">
                            <p>Livraison de votre logement neuf</p>
                        </div>
                    </div>
                    <div class="blue-juice"></div>
                </div>
            </div>

        </div>
    </section>


{# ##################################################################
  #############################  PREVIEW ############################
  ################################################################### #}

    <section class="homepage-preview">
        <div class="homepage-preview-container">
            <h3>En avant première</h3>

            <div class="homepage-preview-filters-box">
                <div class="homepage-preview-filter" onclick="previewClick(this, '{{ path('preview_load',{'filter':'Sélection du mois'}) }}')">
                    <p class="choice">Sélection du mois</p>
                </div>
                <div class="homepage-preview-filter"
                     onclick="previewClick(this,'{{ path('preview_load',{'filter':'TVA réduite 5,5%'}) }}')">
                    <p>TVA réduite 5,5%</p>
                </div>
                <div class="homepage-preview-filter"
                     onclick="previewClick(this, '{{ path('preview_load',{'filter':'Livraison immédiate'}) }}')">
                    <p>Livraison immédiate</p>
                </div>
                <div class="homepage-preview-filter"
                     onclick="previewClick(this, '{{ path('preview_load',{'filter':'Quartier par quartier'}) }}')">
                    <p>Coûts maîtrisés</p>
                </div>
            </div>

            <div class="homepage-preview-result">
                {% for program in programSelection|slice(0,3) %}
                <div class="homepage-preview-block">
                    <a href="{{ path('program',{'slug':program.name|url,'id':program.id,'city':program.city|url})
                    }}">
                        {% if program.programPicture is not empty %}
                            <div class="img-box">
                                <img src="{{ asset('assets/img/programs/') }}{{ program.programPicture[0].picture }}"
                                     alt="{{program.programPicture[0].pictureAlt }}">
                            </div>
                        {% endif %}
                        <div class="name-city">
                            <h3>{{ program.name }}</h3>
                            <p>{{ program.city }}</p>
                        </div>
                        <div class="price">
                            <p>{{ program.price }} €</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <section class="homepage-preview-responsive">
        <h3>Découvrez nos offres</h3>

        <div class="homepage-preview-responsive-container">
            <div class="homepage-preview-responsive-block">
                <div class="homepage-preview-responsive-img-box">
                    <p class="title">En avant première</p>
                    <img src="{{ asset('assets/img/static/image-home.jpg') }}" alt="image offres">
                </div>
                <div class="homepage-preview-responsive-txt-box">
                    <p>
                        Pour habiter ou inverstir, découvrez nos nouveaux programmes
                        immobiliers neufs en avant-première
                    </p>
                    <a href="{{ path('search',{'slug':'bordeaux-metropole'}) }}">
                        <div class="homepage-preview-responsive-txt-arrow">
                            <img src="{{ asset('assets/img/static/icone-submit.png') }}" alt="icone flèche">
                        </div>
                        <p class="text-light">En savoir +</p>
                    </a>
                </div>
            </div>

            <div class="homepage-preview-responsive-block">
                <div class="homepage-preview-responsive-img-box">
                    <p class="title">TVA réduite 5,5%</p>
                    <img src="{{ asset('assets/img/static/image-home.jpg') }}" alt="image offres">
                </div>
                <div class="homepage-preview-responsive-txt-box">
                    <p>
                        Pour habiter ou inverstir, découvrez nos nouveaux programmes
                        immobiliers neufs en avant-première
                    </p>
                    <a href="{{ path('search',{'slug':'bordeaux-metropole'}) }}">
                        <div class="homepage-preview-responsive-txt-arrow">
                            <img src="{{ asset('assets/img/static/icone-submit.png') }}" alt="icone flèche">
                        </div>
                        <p class="text-light">En savoir +</p>
                    </a>
                    
                </div>
            </div>

            <div class="homepage-preview-responsive-block">
                <div class="homepage-preview-responsive-img-box">
                    <p class="title">Quartier par quartier</p>
                    <img src="{{ asset('assets/img/static/image-home.jpg') }}" alt="image offres">
                </div>
                <div class="homepage-preview-responsive-txt-box">
                    <p>
                        Pour habiter ou inverstir, découvrez nos nouveaux programmes
                        immobiliers neufs en avant-première
                    </p>
                    <a href="{{ path('search',{'slug':'bordeaux-metropole'}) }}">
                        <div class="homepage-preview-responsive-txt-arrow">
                            <img src="{{ asset('assets/img/static/icone-submit.png') }}" alt="icone flèche">
                        </div>
                        <p class="text-light">En savoir +</p>
                    </a>
                </div>
            </div>





        </div>
    </section>

{# ##################################################################
  #############################  SERVICES ###########################
  ################################################################### #}

    <section class="homepage-services">
        <div class="homepage-services-container">
            <h3>Ce dont je bénéficie par un simple coup de fil</h3>

            <div class="homepage-services-box">
                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icon-commission.png') }}" alt="icone commision">
                    </div>
                    <p class="title">0% commision</p>
                    <p>
                        Nous sommes rémunérés par les promoteurs,
                        les prix sont directs
                        promoteur, vous n'avez aucun frais
                    </p>
                </div>

                <div class="homepage-services-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-global.png') }}" alt="icone offre globale">
                    </div>
                    <p class="title">Une offre globale et exhaustive</p>
                    <p>
                        Nous vous présentons
                        l'ensemble des biens
                        disponibles sur le marché
                        en fonction de vos
                        critères
                    </p>
                </div>

                <div class="homepage-services-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-valid.png') }}" alt="icone financement adapté">
                    </div>
                    <p class="title">Un financement adapté</p>
                    <p>
                       Nous réalisons une étude
                        financière pour connaître
                        le montant de vos
                        mensualités et le montant
                        maximum du logement
                    </p>
                </div>

                <div class="homepage-services-divider homepage-services-third-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-user.png') }}" alt="icone interlocuteur unique">
                    </div>
                    <p class="title">Un interlocuteur unique</p>
                    <p>
                        Plus de pertes de temps
                        et d'énergie avec
                        les plateformes
                        immobilières ou différents
                        commerciaux. Une
                        information rapide, claire
                        et précises sur les biens
                        disponibles
                    </p>
                </div>

                <div class="homepage-services-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-home.png') }}" alt="icone service clé en main">
                    </div>
                    <p class="title">Un service clé en main</p>
                    <p>
                        Vou sn'avez rien à faire,
                        aucun travaux à réaliser,
                        vous emménagerez le
                        jour de la livraison du
                        logement. Il ne rest plus
                        qu'à imaginer la décoration !
                    </p>
                </div>

                <div class="homepage-services-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-engrenage.png') }}" alt="icone service sur-mesure">
                    </div>
                    <p class="title">Un service sur-mesure</p>
                    <p>
                        Une aide pour toutes les démarches,
                        comparaison des biens
                        disponibles, conseils et astuces
                        et prise en charge de la décoration intérieure
                    </p>
                </div>


            </div>
        </div>

    </section>


{# ##################################################################
#############################  REQUEST #############################
################################################################### #}


    <section class="homepage-request">
        <div class="homepage-request-box">
            <p>
                Simple et rapide,<br/>
                faites le tour de 40 promoteurs <br/>
                en moins de 5 min
            </p>
            <a href="{{ path('project') }}">
                <div class="homepage-request-btn">
                    Je dépose une demande
                </div>
            </a>
        </div>
    </section>


{# ##################################################################
#############################  TESTIMONIES ##########################
################################################################### #}

    <section class="homepage-testimonies">
        <div class="homepage-testimonies-container">
            <h4>Témoignages clients</h4>

            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        {% for testimony in testimonies %}
                            <div class="owl-item">
                                <div class="homepage-testimony-responsive-img-box">
                                    <img src="{{ asset('assets/img/testimonies/') }}{{ testimony.picture
                                    }}"
                                         alt="{{ testimony.title }}">
                                </div>
                                <div class="homepage-testimony-video-box">
                                    {% if testimony.movie %}
                                        {{ testimony.movie|raw }}
                                    {% endif %}
                                </div>


                                <div class="homepage-testimony-second-box">
                                    <div class="img-box">
                                        <img src="{{ asset('assets/img/testimonies/') }}{{ testimony
                                        .picture }}"
                                             alt="{{ testimony.title }}">
                                    </div>
                                    <p>{{ testimony.text|nl2br }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

{# ##################################################################
#############################  PROJECT ##############################
################################################################### #}


    <section class="homepage-project">
        <div class="homepage-project-container">

            <div class="homepage-project-blog">
                <div class="homepage-project-blog-txt-box">
                    <p>Votre projet immobilier en continue</p>
                    <a href="https://blog.locataireaproprietaire.fr">
                        <div class="homepage-project-blog-btn">
                            Découvrir
                        </div>
                    </a>
                </div>
            </div>

            <div class="homepage-project-pdf-box">
                <div class="homepage-project-find-block">
                    <p>Guide trouver son bien</p>
                    {#<a href="{{ asset('assets/img/brochure/') }}{{ brochures[0].file }}" download>#}
                        <div class="homepage-project-find-btn" data-url="{{ asset('assets/img/brochure/') }}{{ brochures[0].file }}">
                            Découvrir
                        </div>
                    {#</a>#}
                </div>
                <div class="homepage-project-owner-block">
                    <p>Guide devenir propriétaire</p>
                    {#<a href="{{ asset('assets/img/brochure/') }}{{ brochures[1].file }}" download>#}
                        <div class="homepage-project-owner-btn" data-url="{{ asset('assets/img/brochure/') }}{{ brochures[1].file }}">
                            Découvrir
                        </div>
                    {#</a>#}
                </div>
            </div>

        </div>
    </section>



{# ##################################################################
#############################  NEWSLETTER ###########################
################################################################### #}

    <section class="homepage-newsletter">
        <p class="title">Rester informé des meilleurs plans sur Bordeaux Métropole</p>
        <form action="#" method="POST" name="newsletter">
            <div class="homepage-newsletter-form-box">
                <div class="homepage-newsletter-form-block">
                    <label for="newsletter-name">Nom</label>
                    <input type="text" name="name" id="newsletter-name" required>
                </div>
                <div class="homepage-newsletter-form-block">
                    <label for="newsletter-city">Ville</label>
                    <input type="text" name="city" id="newsletter-city" required>
                </div>
                <div class="homepage-newsletter-form-block">
                    <label for="newsletter-email">E-mail</label>
                    <input type="text" name="email" id="newsletter-email" required>
                </div>
                <input type="hidden" name="newsletter">
                <input type="image" src="{{ asset('assets/img/static/icone-submit.png') }}">
            </div>
        </form>
    </section>










{% endblock %}

{% block script %}
    <script>
        // carousel
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                items: 1,
                nav: true,
                navText:[
                    "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/arrow-left-blue.png')
                    }}'></div>",
                    "<div class='icon-chevron-left'><img src='{{ asset('assets/img/static/arrow-right-blue.png')
                    }}'></div>"
                ],
            })
        })

        // aside
        $(document).ready(function(){
            // get initial position
            var scrollInit = $(window).scrollTop()
            if(scrollInit >= 715){
                $('.vertical-line').css('background-color','#002849')
                $('.square').css('background-color','#002849')
            }else{
                $('.vertical-line').css('background-color','white')
                $('.square').css('background-color','white')
            }

            if(scrollInit <920){
                $('.square').css({'width':'8px','height':'8px'})
                $('#square1').css({'width':'20px','height':'20px'})

            }else if(scrollInit >=920 && scrollInit <1560){
                $('.square').css({'width':'8px','height':'8px'})
                $('#square2').css({'width':'20px','height':'20px'})
            }else if(scrollInit >=1560 && scrollInit <2135){
                $('.square').css({'width':'8px','height':'8px'})
                $('#square3').css({'width':'20px','height':'20px'})
            }else if(scrollInit >=2135 && scrollInit <3125){
                $('.square').css({'width':'8px','height':'8px'})
                $('#square4').css({'width':'20px','height':'20px'})
            }else if(scrollInit >=3125){
                $('.square').css({'width':'8px','height':'8px'})
                $('#square5').css({'width':'20px','height':'20px'})
            }

            $(window).scroll(function(){
                var scroll = $(window).scrollTop()
                if(scroll >= 715){
                    $('.vertical-line').css('background-color','#002849')
                    $('.square').css('background-color','#002849')
                }else{
                    $('.vertical-line').css('background-color','white')
                    $('.square').css('background-color','white')
                }

                if(scroll <920){
                    $('.square').css({'width':'8px','height':'8px'})
                    $('#square1').css({'width':'20px','height':'20px'})
                }else if(scroll >=920 && scroll <1560){
                    $('.square').css({'width':'8px','height':'8px'})
                    $('#square2').css({'width':'20px','height':'20px'})
                }else if(scroll >=1560 && scroll <2135){
                    $('.square').css({'width':'8px','height':'8px'})
                    $('#square3').css({'width':'20px','height':'20px'})
                }else if(scroll >=2135 && scroll <3125){
                    $('.square').css({'width':'8px','height':'8px'})
                    $('#square4').css({'width':'20px','height':'20px'})
                }else if(scroll >=3125){
                    $('.square').css({'width':'8px','height':'8px'})
                    $('#square5').css({'width':'20px','height':'20px'})
                }
            })



        })



        // for the movie
        $(document).ready(function(){
            let video = document.querySelector('.video')
            let juice = $('.blue-juice')
            let btn = $('#play-pause')
            let muteBtn = $('#mute')
            let volumeslider = $('#volumeSlider')
            let blueBar = $('.blue-bar')

            function togglePlayPause(){
                if(video.paused){
                    btn.toggleClass("pause")
                    btn.toggleClass("play")
                    video.play()
                }else{
                    btn.toggleClass("play")
                    btn.toggleClass("pause")
                    video.pause()
                }
            }

            btn.click(function(){
                togglePlayPause()
            })

            // to manage the progress
            video.addEventListener('timeupdate',function(){
                let juicePosition = video.currentTime/video.duration
                juice.css('width',juicePosition*100+'%')

                if(video.ended){
                    btn.toggleClass("play")
                    btn.toggleClass("pause")
                }
            })

            // to mute the video
            muteBtn.click(function(){
                if(video.muted){
                    video.muted = false
                    muteBtn[0].innerHTML = "Couper le son"
                }else{
                    video.muted = true
                    muteBtn[0].innerHTML = "Activer le son"
                }
            })

            // slider volume
            volumeslider.change(function(){
                video.volume = volumeslider[0].value/100
            })

            // blue-barre
            let rect = blueBar[0].getBoundingClientRect()
            let blueBarWidth = rect.width

            blueBar.click(function(e){
                // get value on X on the bluebar
                let x = e.clientX - rect.left
                let widthPercent = x*100/blueBarWidth
                let currentTimeTrue = widthPercent * video.duration / 100
                video.currentTime = currentTimeTrue
            })

        })

        // brochure
        $(document).ready(function(){
            $('.homepage-project-find-btn, .homepage-project-owner-btn').click(function(){
                let thisClass = this
                $('.program-plan').css('display','flex')
                $('.form-guide').submit(function(){
                    let url = $(thisClass).data('url')
                    window.open(url,"_blank",null)
                })




            })
        })

        // to close brochure's modal
        function closePlan(){
            $('.program-plan').css('display','none')
        }
    </script>
{% endblock %}