{% extends 'web/_base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block main %}
    homepage-main
{% endblock %}

{% block content %}
    {# ##################################################################
      #########################  ASIDE ###############################
      ################################################################### #}

    <aside class="aside">
        <div class="vertical-line"></div>
        <div class="square" id="square1"></div>
        <div class="square" id="square2"></div>
        <div class="square" id="square3"></div>
        <div class="square" id="square4"></div>
        <div class="square" id="square5"></div>
        <div class="vertical-line"></div>
    </aside>








    {# ##################################################################
      #########################  SECTION ###############################
      ################################################################### #}

    <section class="homepage-top">
        <div class="homepage-top-first-block">
            <div class="homepage-ptz">
                <a href="#">
                    <div class="homepage-ptz-btn">
                        Simulateur <br/> PTZ
                    </div>
                </a>
            </div>
            {% if message is not empty %}
                <div class="homepage-banner">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

        </div>

        <div class="homepage-pastille-box">
            <!------- RESPONSIVE ------->
            <div class="homepage-ptz-responsive">
                <a href="#">
                    <div class="homepage-ptz-btn">
                        Simulateur <br/> PTZ
                    </div>
                </a>
            </div>
            <!----- FIN - RESPONSIVE ----->
            <div class="homepage-pastille"><p>TVA <br/> 5,5%</p></div>
            <div class="homepage-pastille"><p>BBC</p></div>
            <div class="homepage-pastille"><p class="big">Les bons <br/> plans</p></div>
            <div class="homepage-pastille"><p class="big">Livraison <br/> immédiate</p></div>
        </div>

        <div class="homepage-search-text">
            <h2>Trouver le logement qui me correspond</h2>
        </div>

        <div class="homepage-search-barre">
            <form action="{{ path('search',{'slug':'bordeaux-metropole'}) }}" data-url="{{ url }}" method="POST">

                <div class="homepage-search-first-row">
                    <div class="homepage-search-block">
                        <input type="text" name="city" placeholder="Lieu" id="city" data-path="{{ path('ajax') }}">
                        <div id="resultAutocompletion"></div>
                        <div id="result">
                            <ul>
                                {% for city in cities %}
                                    <li onclick="choice('{{ city }}','#city','#result')">{{ city }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="img-box" onclick="slideDown('#result')">
                            <img src="{{ asset('assets/img/static/arrow-down.png') }}" alt="icone">
                        </div>
                    </div>

                    <div class="homepage-search-block">
                        <input type="text" name="typologie" placeholder="Type de bien" id="typologie" readonly>
                        <div id="resultTypo">
                            <ul>
                                {% for typo in typologies %}
                                    <li onclick="choice('{{ typo }}','#typologie','#resultTypo')">{{ typo }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="img-box" onclick="slideDown('#resultTypo')">
                            <img src="{{ asset('assets/img/static/arrow-down.png') }}" alt="icone">
                        </div>
                    </div>

                    <div class="homepage-search-block">
                        <input type="text" name="priceMin" placeholder="Budget min">
                    </div>

                    <div class="homepage-search-block">
                        <input type="text" name="priceMax" placeholder="Budget max">
                    </div>

                    <div class="homepage-search-block" onclick="slideDown('.homepage-search-others-container')">
                        <p>Autres prestations</p>
                        <div class="img-box">
                            <img src="{{ asset('assets/img/static/arrow-down.png') }}" alt="icone">
                        </div>
                    </div>

                    <div class="homepage-search-block homepage-search-block-submit" id="homepage-search-submit">
                        <input type="submit" value="Rechercher" class="homepage-search-btn" name="search-submit">
                    </div>

                </div>


                <div class="homepage-search-others-container">
                    <div class="homepage-search-others">
                        <div class="homepage-search-others-block">
                            <div class="homepage-search-others-box">
                                <label for="surface">Surface</label>
                                <input type="number" name="surfaceMin" id="surface" placeholder="min m2">
                                <input type="number" name="surfaceMax" placeholder="max m2">
                            </div>

                            <div class="homepage-search-others-box homepage-search-others-flex">
                                <label>Accessible handicapé</label>
                                <label class="switch homepage-search-others-switch">
                                    <input type="checkbox" name="handicap">
                                    <span class="slider round"></span>
                                </label>
                            </div>

                        </div>


                        <div class="homepage-search-others-block">
                            <div class="homepage-search-others-box">
                                <label for="delivery">Délais de livraison</label>
                                <p class="immediatly" onclick="formSelect(this,'disponibility-immediatly')">Disponible immédiatement</p>
                                <div class="years">
                                    {% set now = "now"|date("Y") %}
                                    <p class="form-btn-selection" onclick="formSelect(this,'disponibility-0')">{{now}}</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'disponibility-1')">{{now+1}}</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'disponibility-2')">+{{now+2}}</p>
                                </div>
                            </div>
                            <div class="homepage-search-others-box">
                                <label for="rooms">Nombre de pièces</label>
                                <div class="rooms">
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-1')">1</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-2')">2</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-3')">3</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-4')">4</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-5')">5</p>
                                    <p class="form-btn-selection" onclick="formSelect(this,'rooms-6')">+6</p>
                                </div>

                            </div>
                        </div>

                        <div class="homepage-search-others-block">
                            <div class="homepage-search-others-box">
                                <label for="prestation">Prestations</label>
                                <div class="prestations">
                                    {% for prestation in prestations %}
                                        <p class="form-btn-selection"
                                           onclick="formSelect(this,'prestations-{{ prestation.criteriaOption }}')">{{ prestation.criteriaOption }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            {#<div class="homepage-search-others-close">
                                <div class="homepage-search-block homepage-search-block-submit">
                                    <input type="submit" value="Rechercher" class="homepage-search-btn" name="search-submit">
                                </div>
                                <p>X</p>
                            </div>#}
                        </div>



                        <div class="homepage-search-hidden">

                        </div>
                    </div>
                </div>

                <div class="homepage-search-block homepage-search-block-submit" id="homepage-search-submit-responsive">
                    <input type="submit" value="Rechercher" class="homepage-search-btn" name="search-submit">
                </div>
            </form>
        </div>
    </section>

{# ##################################################################
  #########################  BENEFITS ###############################
  ################################################################### #}

    <section class="homepage-benefits">
        <div class="homepage-benefits-container">
            <div class="homepage-benefits-block">
                <div class="homepage-benefits-img-box">
                    <img src="{{ asset('assets/img/static/icone-a-z.png') }}" alt="icone accompagnement de A à 2">
                </div>
                <h3>Un accompagnement de A à Z</h3>
            </div>
            <div class="homepage-benefits-block">
                <div class="homepage-benefits-img-box">
                    <img src="{{ asset('assets/img/static/icone-home-key.png') }}" alt="icone propriétaire en moins
                    de trois semaines">
                </div>
                <h3>Propriétaire en moins de trois semaines</h3>
            </div>
            <div class="homepage-benefits-block">
                <div class="homepage-benefits-img-box">
                    <img src="{{ asset('assets/img/static/icone-0.png') }}" alt="icone sans frais supplémentaire
                    d'agent immobilier">
                </div>
                <h3>Sans aucun frais supplémentaire d'agent immobilier</h3>
            </div>
        </div>
    </section>

{# ##################################################################
  #########################  ACCOMPANIMENT ##########################
  ################################################################### #}

    <section class="homepage-accompaniment-container">
        <h2>Un accompagnement de <span>A</span> à <span>Z</span></h2>

        <div class="homepage-accompaniment-video-box">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/4SLnhA5JbpI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>


{# ##################################################################
  #############################  PREVIEW ############################
  ################################################################### #}

    <section class="homepage-preview">
        <div class="homepage-preview-container">
            <h2>En avant première</h2>

            <div class="homepage-preview-filters-box">
                <div class="homepage-preview-filter" onclick="previewClick(this, '{{ path('preview_load',{'filter':'Sélection du mois'}) }}')">
                    <p class="choice">Sélection du mois</p>
                </div>
                <div class="homepage-preview-filter"
                     onclick="previewClick(this,'{{ path('preview_load',{'filter':'TVA réduite 5,5%'}) }}')">
                    <p>TVA réduite 5,5%</p>
                </div>
                <div class="homepage-preview-filter"
                     onclick="previewClick(this, '{{ path('preview_load',{'filter':'Livraison immédiate'}) }}')">
                    <p>Livraison immédiate</p>
                </div>
                <div class="homepage-preview-filter"
                     onclick="previewClick(this, '{{ path('preview_load',{'filter':'Quartier par quartier'}) }}')">
                    <p>Quartier par quartier</p>
                </div>
            </div>

            <div class="homepage-preview-result">
                {% for program in programSelection|slice(0,3) %}
                <div class="homepage-preview-block">
                    {% if program.programPicture is not empty %}
                        <div class="img-box">
                            <img src="{{ asset('assets/img/programs/') }}{{ program.programPicture[0].picture }}"alt="{{program.programPicture[0].pictureAlt }}">
                        </div>
                    {% endif %}
                    <div class="name-city">
                        <h3>{{ program.name }}</h3>
                        <p>{{ program.city }}</p>
                    </div>
                    <div class="price">
                        <p>{{ program.price }} €</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <section class="homepage-preview-responsive">
        <h2>Découvrez nos offres</h2>

        <div class="homepage-preview-responsive-container">
            <div class="homepage-preview-responsive-block">
                <div class="homepage-preview-responsive-img-box">
                    <h3>En avant première</h3>
                    <img src="{{ asset('assets/img/static/image-home.jpg') }}" alt="image offres">
                </div>
                <div class="homepage-preview-responsive-txt-box">
                    <p>
                        Pour habiter ou inverstir, découvrez nos nouveaux programmes
                        immobiliers neufs en avant-première
                    </p>
                    <a href="#">
                        <div class="homepage-preview-responsive-txt-arrow">
                            <img src="{{ asset('assets/img/static/icone-submit.png') }}" alt="icone flèche">
                        </div>
                        <p class="text-light">En savoir +</p>
                    </a>
                </div>
            </div>

            <div class="homepage-preview-responsive-block">
                <div class="homepage-preview-responsive-img-box">
                    <h3>TVA réduite 5,5%</h3>
                    <img src="{{ asset('assets/img/static/image-home.jpg') }}" alt="image offres">
                </div>
                <div class="homepage-preview-responsive-txt-box">
                    <p>
                        Pour habiter ou inverstir, découvrez nos nouveaux programmes
                        immobiliers neufs en avant-première
                    </p>
                    <a href="#">
                        <div class="homepage-preview-responsive-txt-arrow">
                            <img src="{{ asset('assets/img/static/icone-submit.png') }}" alt="icone flèche">
                        </div>
                        <p class="text-light">En savoir +</p>
                    </a>
                    
                </div>
            </div>

            <div class="homepage-preview-responsive-block">
                <div class="homepage-preview-responsive-img-box">
                    <h3>Quartier par quartier</h3>
                    <img src="{{ asset('assets/img/static/image-home.jpg') }}" alt="image offres">
                </div>
                <div class="homepage-preview-responsive-txt-box">
                    <p>
                        Pour habiter ou inverstir, découvrez nos nouveaux programmes
                        immobiliers neufs en avant-première
                    </p>
                    <a href="#">
                        <div class="homepage-preview-responsive-txt-arrow">
                            <img src="{{ asset('assets/img/static/icone-submit.png') }}" alt="icone flèche">
                        </div>
                        <p class="text-light">En savoir +</p>
                    </a>
                </div>
            </div>





        </div>
    </section>

{# ##################################################################
  #############################  SERVICES ###########################
  ################################################################### #}

    <section class="homepage-services">
        <div class="homepage-services-container">
            <h2>Ce dont je bénéficie par un simple coup de fil</h2>

            <div class="homepage-services-box">
                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icon-commission.png') }}" alt="icone commision">
                    </div>
                    <h3>0% commision</h3>
                    <p>
                        Nous sommes rémunérés par les promoteurs,
                        les prix sont directs
                        promoteur, vous n'avez aucun frais
                    </p>
                </div>

                <div class="homepage-services-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-global.png') }}" alt="icone offre globale">
                    </div>
                    <h3>Une offre globale et exhaustive</h3>
                    <p>
                        Nous vous présentons
                        l'ensemble des biens
                        disponibles sur le marché
                        en fonction de vos
                        critères
                    </p>
                </div>

                <div class="homepage-services-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-valid.png') }}" alt="icone financement adapté">
                    </div>
                    <h3>Un financement adapté</h3>
                    <p>
                       Nous réalisons une étude
                        financière pour connaître
                        le montant de vos
                        mensualités et le montant
                        maximum du logement
                    </p>
                </div>

                <div class="homepage-services-divider homepage-services-third-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-user.png') }}" alt="icone interlocuteur unique">
                    </div>
                    <h3>Un interlocuteur unique</h3>
                    <p>
                        Plus de pertes de temps
                        et d'énergie avec
                        les plateformes
                        immobilières ou différents
                        commerciaux. Une
                        information rapide, claire
                        et précises sur les biens
                        disponibles
                    </p>
                </div>

                <div class="homepage-services-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-home.png') }}" alt="icone service clé en main">
                    </div>
                    <h3>Un service clé en main</h3>
                    <p>
                        Vou sn'avez rien à faire,
                        aucun travaux à réaliser,
                        vous emménagerez le
                        jour de la livraison du
                        logement. Il ne rest plus
                        qu'à imaginer la décoration !
                    </p>
                </div>

                <div class="homepage-services-divider">
                    <div class="homepage-services-divider-img-box">
                        <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                    </div>
                </div>

                <div class="homepage-services-block">
                    <div class="homepage-services-img-box">
                        <img src="{{ asset('assets/img/static/icone-engrenage.png') }}" alt="icone service sur-mesure">
                    </div>
                    <h3>Un service sur-mesure</h3>
                    <p>
                        Une aide pour toutes les démarches,
                        comparaison des biens
                        disponibles, conseils et astuces
                        et prise en charge de la décoration intérieure
                    </p>
                </div>


            </div>
        </div>

    </section>


{# ##################################################################
#############################  REQUEST #############################
################################################################### #}


    <section class="homepage-request">
        <div class="homepage-request-box">
            <p>
                Simple et rapide,
                faites le tour de 40 promoteurs
                en moins de 5 min
            </p>
            <a href="#">
                <div class="homepage-request-btn">
                    Je dépose une demande
                </div>
            </a>
        </div>
    </section>


{# ##################################################################
#############################  TESTIMONIES ##########################
################################################################### #}

    <section class="homepage-testimonies">
        <div class="homepage-testimonies-container">
            <h2>Témoiganges clients</h2>

            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        {% for testimony in testimonies %}
                            <div class="owl-item">
                                <div class="homepage-testimony-responsive-img-box">
                                    <img src="{{ asset('assets/img/testimonies/') }}{{ testimony.picture }}"
                                         alt="{{ testimony.title }}">
                                </div>
                                {% if testimony.movie %}
                                    <div class="homepage-testimony-video-box">
                                        {{ testimony.movie|raw }}
                                    </div>
                                {% endif %}
                                <div class="homepage-testimony-second-box">
                                    <div class="img-box">
                                        <img src="{{ asset('assets/img/testimonies/') }}{{ testimony.picture }}"
                                             alt="{{ testimony.title }}">
                                    </div>
                                    <p>{{ testimony.text|nl2br }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

{# ##################################################################
#############################  PROJECT ##############################
################################################################### #}


    <section class="homepage-project">
        <div class="homepage-project-container">

            <div class="homepage-project-blog">
                <div class="homepage-project-blog-txt-box">
                    <p>Votre projet immobilier en continue</p>
                    <a href="#">
                        <div class="homepage-project-blog-btn">
                            Découvrir
                        </div>
                    </a>
                </div>
            </div>

            <div class="homepage-project-pdf-box">
                <div class="homepage-project-find-block">
                    <p>Guide trouver son bien</p>
                    <a href="#">
                        <div class="homepage-project-find-btn">
                            Découvrir
                        </div>
                    </a>
                </div>
                <div class="homepage-project-owner-block">
                    <p>Guide devenir propriétaire</p>
                    <a href="#">
                        <div class="homepage-project-owner-btn">
                            Découvrir
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>



{# ##################################################################
#############################  NEWSLETTER ###########################
################################################################### #}

    <section class="homepage-newsletter">
        <h2>Rester informé des meilleurs plans sur Bordeaux Métropole</h2>
        <form action="#" method="POST" name="newsletter">
            <div class="homepage-newsletter-form-box">
                <div class="homepage-newsletter-form-block">
                    <label for="city">VILLE</label>
                    <input type="text" name="city" id="city" required>
                </div>
                <div class="homepage-newsletter-form-block">
                    <label for="name">NOM PRENOM</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="homepage-newsletter-form-block">
                    <label for="email">E-MAIL</label>
                    <input type="text" name="email" id="email" required>
                </div>
                <input type="hidden" name="newsletter">
                <input type="image" src="{{ asset('assets/img/static/icone-submit.png') }}">
            </div>
        </form>
    </section>










{% endblock %}