{% extends 'web/_base.html.twig' %}

{% block title %}{{ title|striptags|raw }}{% endblock %}

{% block description %}{{ text|striptags|raw }}{% endblock %}

{% block main %}
    search-main
{% endblock %}


{% block content %}

    {# ##################################################################
      #########################  ASIDE ###############################
      ################################################################### #}
    
    {#<aside class="aside">
        <div class="vertical-line"></div>
        <div class="square" id="square1"></div>
        <div class="square" id="square2"></div>
        <div class="square" id="square3"></div>
        <div class="square" id="square4"></div>
        <div class="square" id="square5"></div>
        <div class="vertical-line"></div>
    </aside>#}

    {# ##################################################################
      #########################  MODAL ###############################
      ################################################################### #}
    <div class="search-modal-container">
        <div class="search-modal">
            <p class="search-modal-title">Vous êtes intéressé ?</p>
            <p class="search-modal-text">Appelez <span class="search-modal-number">07 77 84 91 94</span></p>

            <div class="search-modal-or">
                <div class="greyLine"></div>
                <p>Ou</p>
                <div class="greyLine"></div>
            </div>

            <div class="search-modal-upload">
                <div class="img-box">
                    <img src="{{ asset('assets/img/static/book.png') }}" alt="icone livre">
                </div>
                <p>Recevoir la brochure</p>
            </div>


            <div class="search-modal-form">
                <form action="#" method="POST">
                    <div class="search-modal-radio-row">
                        <div class="search-modal-form-radio">
                            <label for="mister">Monsieur</label>
                            <input type="radio" id="mister" name="gender" value="monsieur">
                        </div>
                        <div class="search-modal-form-radio">
                            <label for="miss">Madame</label>
                            <input type="radio" id="miss" name="gender" value="madame">
                        </div>
                    </div>
                    <label for="name">Nom</label>
                    <input type="text" id="name" name="name">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                    <label for="phone">Téléphone</label>
                    <input type="text" id="phone" name="phone">
                    <div class="btn">
                        <button type="submit" name="search-modal" id="search-modal-submit">Envoyer</button>
                    </div>
                </form>
            </div>


        </div>
    </div>


    {# ##################################################################
      #########################  SECTION ###############################
      ################################################################### #}

    <section class="search-top">
        <div class="search-top-h1">
            <h1>{{ h1|striptags|raw }}</h1>
        </div>
        {% for message in app.flashes('info') %}
            <p>{{ message }}</p>
        {% endfor %}
        <div class="search-search-barre">

            {# search barre from homepage #}
            <div class="homepage-search-barre">
                <form action="{{ path('search',{'slug':'bordeaux-metropole'}) }}" data-url="{{ url }}" method="POST" id="search-form">

                    <div class="homepage-search-first-row">
                        <div class="homepage-search-block">
                            <input type="text" value="{{ form['city'] }}" name="city" placeholder="Lieu" id="city"
                                   data-path="{{ path('ajax') }}">
                            <div id="resultAutocompletion"></div>
                            {#<div id="result">
                                <ul>
                                    {% for city in cities %}
                                        <li onclick="choice('{{ city }}','#city','#result')">{{ city }}</li>
                                    {% endfor %}
                                </ul>
                            </div>#}
                        </div>

                        <div class="homepage-search-block">
                            <input type="text" name="typologie" placeholder="Type de bien" id="typologie"
                                   value="{{ form['typo'] }}" readonly>
                            <div id="resultTypo">
                                <ul>
                                    {% for typo in typologies %}
                                        <li onclick="choice('{{ typo }}','#typologie','#resultTypo')">{{ typo }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="img-box" onclick="slideDown('#resultTypo')">
                                <img src="{{ asset('assets/img/static/arrow-down.png') }}" alt="icone">
                            </div>
                        </div>

                        {#<div class="homepage-search-block homepage-search-price">
                            <input type="text" name="priceMin" placeholder="Budget min">
                        </div>#}

                        <div class="homepage-search-block homepage-search-price">
                            <input type="text" name="priceMax" placeholder="Budget max" value="{{ form['priceMax'] }}">
                        </div>

                        <div class="homepage-search-block homepage-search-price-responsive ">
                            {#<input type="text" name="priceMin" placeholder="Budget min">#}
                            <input type="text" name="priceMaxResp" placeholder="Budget max" >

                        </div>
                        <div class="homepage-search-block homepage-search-price-responsive">
                            <input type="text" readonly="readonly" value="Recherche avancée">
                            <div onclick="slideDown('.homepage-search-others-container')" class="img-box-responsive">
                                <img src="{{ asset('assets/img/static/icone-plus.png') }}" alt="icone plus">
                            </div>
                        </div>
                        <div class="homepage-search-block homepage-search-price-responsive">
                            <button type="submit" class="homepage-search-btn" name="search-submit">Rechercher</button>
                        </div>

                        <div class="homepage-search-block homepage-search-block-last"
                             onclick="slideDown('.homepage-search-others-container')">
                            <input type="text" value="Recherche avancée" readonly>
                            <div class="img-box">
                                <img src="{{ asset('assets/img/static/arrow-down.png') }}" alt="icone">
                            </div>
                        </div>

                        <div class="homepage-search-block homepage-search-block-submit" id="homepage-search-submit">
                            <button type="submit" class="homepage-search-btn" name="search-submit-1">Rechercher</button>
                        </div>

                    </div>


                    <div class="homepage-search-others-container">
                        <div class="homepage-search-others">
                            <div class="homepage-search-others-block">
                                <div class="homepage-search-others-box">
                                    <label for="surface">Surface</label>
                                    <input type="number" name="surfaceMin" id="surface" placeholder="min m2"
                                           value="{{ form['surfaceMin'] }}">
                                    <input type="number" name="surfaceMax" placeholder="max m2"
                                           value="{{ form['surfaceMax'] }}">
                                </div>

                                {#<div class="homepage-search-others-box homepage-search-others-flex">
                                    <label>Accessible handicapé</label>
                                    <label class="switch homepage-search-others-switch">
                                        <input type="checkbox" name="handicap"
                                               {% if form['handicap'] is not empty %}checked{% endif %} >
                                        <span class="slider round"></span>
                                    </label>
                                </div>#}

                            </div>


                            <div class="homepage-search-others-block">
                                <div class="homepage-search-others-box">
                                    <label for="delivery">Délais de livraison</label>
                                    <p class="immediatly
                                    {% if form['disponibility']['disponibility-immediatly'] is defined %}selected{% endif %}" onclick="formSelect(this,'disponibility-immediatly')">Disponible immédiatement</p>
                                    <div class="years">
                                        {% set now = "now"|date("Y") %}
                                        <p class="form-btn-selection
                                        {% if form['disponibility']['disponibility-0'] is defined %}selected{% endif %}"
                                           onclick="formSelect(this,'disponibility-0')">{{now}}</p>
                                        <p class="form-btn-selection {% if form['disponibility']['disponibility-1'] is
                                            defined %}selected{% endif %}" onclick="formSelect(this,'disponibility-1')">{{now+1}}</p>
                                        <p class="form-btn-selection {% if form['disponibility']['disponibility-2'] is
                                            defined %}selected{% endif %}" onclick="formSelect(this,'disponibility-2')
">+{{now+2}}</p>
                                    </div>
                                </div>
                                <div class="homepage-search-others-box">
                                    <label for="rooms">Nombre de pièces</label>
                                    <div class="rooms">
                                        <p class="form-btn-selection
                                    {% if form['rooms']['rooms-1'] is defined %}selected{% endif %}"
                                           onclick="formSelect(this,'rooms-1')">1</p>
                                        <p class="form-btn-selection
                                    {% if form['rooms']['rooms-2'] is defined %}selected{% endif %}"
                                           onclick="formSelect(this,'rooms-2')">2</p>
                                        <p class="form-btn-selection
                                    {% if form['rooms']['rooms-3'] is defined %}selected{% endif %}"
                                           onclick="formSelect(this,'rooms-3')">3</p>
                                        <p class="form-btn-selection
                                    {% if form['rooms']['rooms-4'] is defined %}selected{% endif %}"
                                           onclick="formSelect(this,'rooms-4')">4</p>
                                        <p class="form-btn-selection
                                    {% if form['rooms']['rooms-5'] is defined %}selected{% endif %}"
                                           onclick="formSelect(this,'rooms-5')">5</p>
                                        <p class="form-btn-selection
                                    {% if form['rooms']['rooms-6'] is defined %}selected{% endif %}"
                                           onclick="formSelect(this,'rooms-6')">+6</p>
                                    </div>

                                </div>
                            </div>
                            <div class="homepage-search-others-block">
                                <div class="homepage-search-others-box">
                                    <label for="prestation">Prestations</label>
                                    <div class="prestations">
                                        {% for prestation in prestations %}
                                            <p class="form-btn-selection
                                                {% if form['prestations']['prestations-'~prestation.criteriaOption] is
                                           defined %}selected{% endif %}
                                                "
                                               onclick="formSelect(this,'prestations-{{ prestation.criteriaOption }}')">{{ prestation.criteriaOption }}</p>
                                        {% endfor %}
                                    </div>
                                </div>

                                {#<div class="homepage-search-others-close">
                                    <div class="homepage-search-block homepage-search-block-submit">
                                        <input type="submit" value="Rechercher" class="homepage-search-btn" name="search-submit">
                                    </div>
                                    <p>X</p>
                                </div>#}
                            </div>



                            <div class="homepage-search-hidden">
                                {% if form['prestations'] is iterable %}
                                    {% for prestation in form['prestations'] %}
                                        <input type="hidden" name="{{ prestation }}" value="selected" class="{{
                                        prestation }}">
                                    {% endfor %}
                                {% endif %}

                                {% if form['disponibility'] is iterable %}
                                    {% for disponibility in form['disponibility'] %}
                                        <input type="hidden" name="{{ disponibility }}" value="selected" class="{{
                                        disponibility
                                        }}">
                                    {% endfor %}
                                {% endif %}

                                {% if form['rooms'] is iterable %}
                                    {% for rooms in form['rooms'] %}
                                        <input type="hidden" name="{{ rooms }}" value="selected" class="{{
                                        rooms
                                        }}">
                                    {% endfor %}
                                {% endif %}

                                {% if form['othersCriteria'] is iterable %}
                                    {% for othersCriteria in form['othersCriteria'] %}
                                        <input type="hidden" name="{{ othersCriteria }}" value="selected" class="{{
                                        othersCriteria
                                        }}">
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="homepage-search-block homepage-search-block-submit" id="homepage-search-submit-responsive">
                        <button type="submit" class="homepage-search-btn" name="search-submit-1">Rechercher</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="search-top-discover">
            <p class="text">Découvrez les programmes neufs</p>
            <div class="img-box">
                <img src="{{ asset('assets/img/static/arrow-down-white.png') }}" alt="flèche découvrir les biens">
            </div>
        </div>

    </section>



    <section class="search-results">
        {% if programs is not empty %}



            {% for program in programs %}
                <form action="{{ path('program',{'id':program.id,'slug':program.slug|url,'city':program
                    .city|url}) }}" method="POST"
                      id="form-{{ program.id }}">
                    <input type="hidden" name="city" value="{{ form['city'] }}">
                    <input type="hidden" name="typo" value="{{ form['typo'] }}">
                    <input type="hidden" name="priceMin" value="{{ form['priceMin'] }}">
                    <input type="hidden" name="priceMax" value="{{ form['priceMax'] }}">
                    <input type="hidden" name="surfaceMin" value="{{ form['surfaceMin'] }}">
                    <input type="hidden" name="surfaceMax" value="{{ form['surfaceMax'] }}">
                    <input type="hidden" name="handicap" value="{{ form['handicap'] }}">
                    {% for room in form['rooms'] %}
                        <input type="hidden" name="{{ room }}" value="{{ room }}">
                    {% endfor %}
                    {% for dispo in form['disponibility'] %}
                        <input type="hidden" name="{{ dispo }}" value="{{ dispo }}">
                    {% endfor %}
                    {% for prestation in form['prestations'] %}
                        <input type="hidden" name="{{ prestation }}" value="{{ prestation }}">
                    {% endfor %}
                    {% for others in form['othersCriteria'] %}
                        <input type="hidden" name="{{ others }}" value="{{ others }}">
                    {% endfor %}
                    <input type="hidden" name="slug" value="{{ slug }}">
                </form>

                <article class="search-results-program">
                    <a  onclick="goToProgram('form-{{ program.id }}')">
                        <div class="search-results-program-img-box">
                            {% if program.filter is not empty %}
                                <div class="search-result-program-filter">
                                    {% for filter in program.filter %}
                                        <p>{{ filter.name }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if program.programPicture[0] is defined %}
                                <img src="{{ asset('assets/img/programs/') }}{{ program.programPicture[0] }}" alt="{{ program
                                .name }}">
                            {% else %}
                                <div class="empty-white"></div>
                            {% endif %}

                        </div>
                        <p class="title">{{ program.name }}</p>
                        <p>{{ program.city }}</p>
                        <p class="price">A partir de {{ program.price }} €</p>
                    </a>
                </article>

            {% endfor %}

        {% endif %}

    </section>




    <!------------- PAGINATION ----------->
    <div class="search-pagination">
        {% if pages is defined %}
            <div class="search-pagination-box">
                <p>Pages : </p>
                {% for page in 1..pages %}
                        <input form="search-form" class="search-pagination-square" type="submit"
                               name="search-submit-{{ page }}"
                               value=""
                        {% if page == currentPage %}style="width: 20px!important;height: 20px!important;"{% endif %}>
                {% endfor %}
            </div>
        {% endif %}

    </div>


    <!------------- FORM BOTTOM PAGE ----------->
    <div class="search-bottom-container">
        <p class="search-bottom-title">Vous ne trouvez pas votre bonheur ? </p>

        <div class="search-bottom-btn">
            <a href="{{ path('project') }}">
                <button class="search-bottom-link-form">
                    Être alerté
                </button>
            </a>
        </div>
    </div>




    {% if currentCity is defined and currentCity is not null %}
        <div class="search-bottom-text"><p>{{ currentCity.description|raw }}</p></div>
    {% else %}
        <div class="search-bottom-text"><p>{{ text|raw }}</p></div>
    {% endif %}




{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('.search-top-discover').click(function(){
                $('html').animate({
                    scrollTop: 700
                }, 'slow')
            })
        })


    </script>
{% endblock %}