<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact pour être alerté du bien idéal</title>
</head>
<body>

<h1>Contact pour être alerté du bien idéal</h1>

<p>Nom : {{ name }}</p>
<p>Adresse e-mail : {{ email }}</p>
<p>Téléphone : {{ phone }}</p>

<h2>Le bien idéal : </h2>
<p>Ville : {{ city }}</p>
<p>Typologie : {{ typo }}</p>
<p>Budget minimum : {{ priceMin }} </p>
<p>Budget maximum : {{ priceMax }}</p>
<p>Surface minimum : {{ surfaceMin }}</p>
<p>Surface maximum : {{ surfaceMax }}</p>
<p>Nombre de pièces : {{ rooms }}</p>
<p>Accès handicapé : {{ handicap }}</p>
<p>Année de livraison : {{ delivery }}</p>
<p>Prestations désirées : {{ prestations }}</p>
<p>Commentaires : {{ comment }}</p>


</body>
</html>