<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message par formulaire de contact</title>
</head>
<body>

    <h1>Contact par formulaire de contact</h1>

    <p>Genre : {{ gender }}</p>
    <p>Nom : {{ name }}</p>
    <p>Email : {{ email }}</p>
    <p>Télépone : {{ phone }}</p>
    <p>Sujet : {{ object }}</p>
    <p>Message : {{ message }}</p>

</body>
</html>